<ion-view  class="bg-dash" view-title="Ayuda y Opinión">
  	<ion-content class="padding-20"> 
  		<h3>Si tienes alguna consulta o duda escribenos a</h3>
      <p>correo: <b>ayuda@cirmsac.com</b></p>
      <div class="divider"></div>
      <h3>Opiniones</h3>
      <p>correo: <b>opinion@cirmsac.com</b></p>
  		<div class="divider"></div>
      <h3>Facebook</h3>
      <p><b>PMP PERÚ EXAM</b></p>
      <div class="divider"></div>
      <h3>Contacto:</h3>
      <p>telf: <b>975367302</b></p>
      <div class="divider"></div>
      <h3>Correo:</h3>
      <p><b>gerencia@cirmsac.com</b></p> 
  	</ion-content>
</ion-view>
